header {
  font-size: 1.5em;
}
header nav ul a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(245, 245, 217);
  font-family: "Courier New", Courier, monospace;
}
button {
  background-color: papayawhip;
  border: 0.1em black solid;
}
.show input {
  background-color: papayawhip;
  border: 0.1em solid black;
  color: rgb(0, 0, 0);
}

button:hover {
  background-color: goldenrod;
  transition: 0.3s;
}

body h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 0 0 5px goldenrod;
}

body p {
  font-size: 3em;
  text-align: center;
  margin: 10px;
  padding: 1em;
}
body .show,
.play {
  text-align: center;
  padding: 1em;
  margin: 1em;
}
body .show p {
  text-align: center;
  font-size: 1em;
}
/* progress bars for all browsers */
progress {
  -webkit-appearance: none;
  border-radius: 20px;
  width: 20em;
}
progress::-webkit-progress-bar {
  background-color: papayawhip;
  border-radius: 20px;
}
progress::-webkit-progress-inner-element {
  border: 1.5px solid black;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-color: goldenrod;
  border-radius: 20px;
  transition: width 0.2s ease-in;
}
progress::-moz-progress-bar {
  background-color: goldenrod;
  border-radius: 20px;
  transition: width 0.2s ease-in;
}

.numbers {
  animation: glow-green 2s ease-in infinite alternate;
}
@keyframes glow-green {
  from {
    color: rgb(3, 169, 3);
    text-shadow: 0 0 10px rgb(3, 169, 3);
  }
  to {
    color: rgb(6, 6, 6);
    text-shadow: none;
  }
}
.animated {
  animation: wiggle 0.9s ease-in-out 3;
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@media screen and (max-width: 768px) {
  body {
    text-align: flex;
  }
  body h1 {
    font-size: 11vw;
  }
  body progress {
    font-size: 4vw;
    margin: 1.5vw;
    width: 19em;
  }

  body button {
    font-size: 1.2em;
  }

  body #info {
    font-size: 1em;
  }
  body #numbers {
    font-size: 11vw;
    padding: 4vm;
  }
  body .show {
    padding: 10px;
  }
  body .show label {
    font-size: 7vw;
  }
  body input {
    font-size: 1.2em;
  }
  body input#result {
    margin: 2vw;
    padding: 2vw;
  }
  body input#amount,
  #speed {
    width: 10vw;
  }

  header nav ul a {
    visibility: hidden;
  }
  header nav ul {
    margin: 0;
    padding: 0;
  }
  #play {
    text-align: center;
    font-size: 8vw;
  }
}
